.quiz-button {
  
    border: none; /* pas de bordure */
    color: white; /* couleur du texte */
   padding-left: 45%;
    text-align: center; /* alignement horizontal */
    text-decoration: none; /* pas de décoration de texte */
    display: inline-block; /* affichage en ligne */
    font-size: 16px; /* taille de police */
    margin: 10px 0; /* espacement externe */
    cursor: pointer; /* curseur au survol */
    border-radius: 8px; /* arrondi des coins */
    transition: background-color 0.3s ease; /* transition de couleur */
    
}
  
 
  .text-styling {
    font-size: 24px; /* taille de police */
    font-weight: bold; /* graisse du texte */
    color: #333; /* couleur du texte */
    text-align: center; /* alignement horizontal */
    text-decoration: underline; /* soulignement du texte */
    margin-bottom: 10px; /* espacement du bas */
    letter-spacing: 2px; /* espacement des lettres */
    line-height: 1.5; /* hauteur de ligne */
    text-transform: uppercase; /* conversion en majuscules */
    width: 70%;
    padding-left: 15%;

  
  
  }
  h3 {
    font-size: 70px; /* taille de police */
    font-weight: bold; /* graisse du texte */
    text-align: center; /* alignement horizontal */
    text-transform: uppercase; /* conversion en majuscules */
    margin-bottom: 20px; /* espacement du bas */
    padding-top: 0px;
    color: #252d4a;
  }
